/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.ui-datepicker-title select{
    color: #000!important;
}

#field_3_2, #field_11_2, #field_5_2{
    padding-right: 0px!important;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}
.fl-content{
    margin: 0px 0!important;
}

.fl-post .fl-post-image-beside{
    margin-right: 0px;
}
article .fl-post-header{
    margin-left: -15px!important;
    margin-right: -15px!important;
}
.product-swatch-inner .button-wrapper-default a{
    background: #814249;
    color: aliceblue;
}
.product-swatch-inner .button-wrapper-default a:last-child{
    display: none;
}

@media(max-width:1024px){
    .fl-page-nav .navbar-nav li>a{
        padding: 15px 8px;
        font-size: 11.1px; 
    }
    .fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a, .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a{
        padding: 15px 8px;
    }
}

@media(max-width:992px){
    .fl-page-nav-search{
        display: block
    }
}

@media (max-width:768px){
    .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}
    
 }
 @media (max-width:767px){
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}

    .fl-col-small{
        max-width: 600px;
    }
    .fl-page-bar-nav li:last-child{
        display: none;  
    }

    .fl-module-callout .fl-callout-title{
        font-size: 24px!important;
    }
 }